
$fontPath: '../fonts/';

@font-face {
  font-family: 'GothamPro';
  src: url('#{$fontPath}GothamPro/gothampro.eot'),
  url('#{$fontPath}GothamPro/gothampro.woff2') format('woff2'),
  url('#{$fontPath}GothamPro/gothampro.woff') format('woff'), 
  url('#{$fontPath}GothamPro/gothampro.ttf') format('truetype');   
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro Bold';
  src: url('#{$fontPath}GothamPro/gothampro-bold.eot'),
  url('#{$fontPath}GothamPro/gothampro-bold.woff2') format('woff2'),
  url('#{$fontPath}GothamPro/gothampro-bold.woff') format('woff'), 
  url('#{$fontPath}GothamPro/gothampro-bold.ttf') format('truetype');   
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro Light';
  src: url('#{$fontPath}GothamPro/gothampro-light.eot'),
  url('#{$fontPath}GothamPro/gothampro-light.woff2') format('woff2'),
  url('#{$fontPath}GothamPro/gothampro-light.woff') format('woff'), 
  url('#{$fontPath}GothamPro/gothampro-light.ttf') format('truetype');   
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro Medium';
  src: url('#{$fontPath}GothamPro/gothampro-medium.eot'),
  url('#{$fontPath}GothamPro/gothampro-medium.woff2') format('woff2'),
  url('#{$fontPath}GothamPro/gothampro-medium.woff') format('woff'), 
  url('#{$fontPath}GothamPro/gothampro-medium.ttf') format('truetype');   
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Bold';
  src: url('#{$fontPath}Oswald/oswald-bold.eot'),
  url('#{$fontPath}Oswald/oswald-bold.woff2') format('woff2'),
  url('#{$fontPath}Oswald/oswald-bold.woff') format('woff'), 
  url('#{$fontPath}Oswald/oswald-bold.ttf') format('truetype');   
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url('#{$fontPath}Ubuntu/ubuntu-b.eot'),
  url('#{$fontPath}Ubuntu/ubuntu-b.woff2') format('woff2'),
  url('#{$fontPath}Ubuntu/ubuntu-b.woff') format('woff'), 
  url('#{$fontPath}Ubuntu/ubuntu-b.ttf') format('truetype');   
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Light';
  src: url('#{$fontPath}Ubuntu/ubuntu-l.eot'),
  url('#{$fontPath}Ubuntu/ubuntu-l.woff2') format('woff2'),
  url('#{$fontPath}Ubuntu/ubuntu-l.woff') format('woff'), 
  url('#{$fontPath}Ubuntu/ubuntu-l.ttf') format('truetype');   
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Medium';
  src: url('#{$fontPath}Ubuntu/ubuntu-m.eot'),
  url('#{$fontPath}Ubuntu/ubuntu-m.woff2') format('woff2'),
  url('#{$fontPath}Ubuntu/ubuntu-m.woff') format('woff'), 
  url('#{$fontPath}Ubuntu/ubuntu-m.ttf') format('truetype');   
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Regular';
  src: url('#{$fontPath}Ubuntu/ubuntu-r.eot'),
  url('#{$fontPath}Ubuntu/ubuntu-r.woff2') format('woff2'),
  url('#{$fontPath}Ubuntu/ubuntu-r.woff') format('woff'), 
  url('#{$fontPath}Ubuntu/ubuntu-r.ttf') format('truetype');   
  font-weight: normal;
  font-style: normal;
}
